---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Concept from '../components/Concept.astro';
import Scenes from '../components/Scenes.astro';
import Features from '../components/Features.astro';
import CTABand from '../components/CTABand.astro';
import Banquet from '../components/Banquet.astro';
import Menu from '../components/Menu.astro';
import Gallery from '../components/Gallery.astro';
import Access from '../components/Access.astro';
import Reservation from '../components/Reservation.astro';
import Instagram from '../components/Instagram.astro';
import Footer from '../components/Footer.astro';
import MobileCallBar from '../components/MobileCallBar.astro';
---
<Base>
  <Header />
  <main>
    <Hero />
    <Concept />
    <Scenes />
    <Features />
    <CTABand />
    <Banquet />
    <Menu />
    <Gallery />
    <CTABand />
    <Access />
    <Reservation />
    <Instagram />
  </main>
  <Footer />
  <MobileCallBar />
</Base>
